/* Загальний фон сторінки */
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/products.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Контейнер */
.container {
  background-color: #466d4ecc;
  padding: 30px;
  margin-top: 50px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(91, 77, 77, 0.1);
  width: 320px;
}

/* Заголовок */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Форма */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  flex: 1 1 48%;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

button {
  flex: 1 1 100%;
  background-color: #4caf50;
  color: rgb(25, 24, 24);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Список товарів */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e0f7fa;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
}

/* Стиль чекбокса */
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #4caf50;
  cursor: pointer;
}

/* Загальна сума */
#total {
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
  color: #333;
  font-size: 19px;
}
#send-button {
  background-color: #0b5f3e;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

#send-button:hover {
  background-color: #335642;
}

#received-list {
  margin-top: 20px;
  padding-left: 20px;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
  }

  form {
    flex-direction: column;
    gap: 8px;
  }

  input[type="text"],
  input[type="number"] {
    flex: 1 1 100%;
  }

  button {
    flex: 1 1 100%;
  }

  #total {
    text-align: left;
    font-size: 15px;
  }
}
